@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Bernier";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BERNIERRegular-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Sansus";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Sansus-Webissimo-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "LeviReBrushed";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LeviReBrushed.woff2") format("woff2");
  font-display: swap;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #455a64;
  line-height: 1.42;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

section {
  position: relative;
}

.visually-hidden:not(:focus):not(:active),
.svg-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__left,
.about__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about__left {
  background: #efeee9;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Crect%20x%3D%220%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%221%2E04167%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%221%2E04167%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%227%2E29167%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%229%2E375%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2215%2E625%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2217%2E70833%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2223%2E95833%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2226%2E04167%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2232%2E29167%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2234%2E375%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2240%2E625%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2242%2E70833%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2248%2E95833%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2251%2E04167%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2257%2E29167%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2259%2E375%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2265%2E625%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2267%2E70833%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2273%2E95833%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2276%2E04167%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2282%2E29167%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2284%2E375%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2290%2E625%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%222%2E08333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2292%2E70833%25%22%20fill%3D%22gray%22%20width%3D%226%2E25%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2298%2E95833%25%22%20fill%3D%22%23a0a0a0%22%20width%3D%221%2E04167%25%22%20height%3D%22100%25%22%2F%3E%3C%2Fsvg%3E");
}

.about__right {
  background: #eeebdf;
}

.about__triangle {
  position: absolute;
  bottom: 100%;
}

.about__section--image {
  position: absolute;
  left: 40px;
  top: 0;
  fill: #6E7171;
  opacity: 0.07;
}

.about__section--wrapper {
  text-align: center;
}

.user-about__text {
  text-align: left;
  padding: 0 80px;
}

.about-user-info__title {
  text-align: center;
}

.about-user-info__text {
  padding-left: 40px;
}

.about-data__content {
  margin-top: 50px;
  padding-left: 30px;
}

.down-arrow {
  bottom: 40px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.down-arrow--image {
  fill: #FFFFFF;
  opacity: 0.7;
}

.hamburger {
  position: absolute;
  right: 30px;
  top: 25px;
  display: inline-block;
  width: 40px;
  height: 35px;
}

.hamburger__image {
  fill: #fff;
}

.hero {
  height: 600px;
  overflow: hidden;
  color: #ffffff;
}

.hero__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.hero__user-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__bg--image {
  max-width: none;
}

.section__title {
  opacity: 0.06;
  display: inline-block;
  fill: #FEFEFE;
}

.skill-section__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.skills__item {
  margin-bottom: 30px;
}

.skill-section__list {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-section__item:nth-child(1n+2) {
  margin-left: 20px;
}

.skill__name {
  font-size: 13px;
  font-weight: 500;
  line-height: 29.39px;
}

.mountains .skill__name {
  color: #00bfa5;
}

.skill__circle {
  width: 130px;
  height: 130px;
  border: 1px solid #00bfa5;
  border-radius: 50%;
}

.socials {
  position: absolute;
  left: 30px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin: 0 15px;
}

.socials__image {
  height: 22px;
  fill: #FFFFFF;
  opacity: .5;
}

.socials__image--vk {
  width: 31px;
}

.socials__image--github {
  width: 26px;
}

.socials__image--in {
  width: 24px;
}

.title,
.subtitle {
  font-family: "Bernier",Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1.57px;
  position: relative;
  display: inline-block;
}

.title:after,
.subtitle:after {
  right: 40px;
}

.title:before,
.subtitle:before {
  left: 40px;
}

.title {
  font-size: 63px;
  padding: 45px 80px;
  color: #373e42;
  line-height: 66px;
}

.subtitle {
  color: #455a64;
  padding: 40px 80px;
  font-size: 35px;
  line-height: 41.01px;
}

.mountains .title:after,
.mountains .title:before,
.mountains .subtitle:after,
.mountains .subtitle:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 5px;
}

.mountains .title:after,
.mountains .title:before {
  background-color: rgba(55, 62, 66, 0.2);
}

.mountains .subtitle:after,
.mountains .subtitle:before {
  background-color: rgba(69, 90, 100, 0.2);
}

.triangle {
  height: 100px;
  width: 50%;
}

.triangle-fill-white {
  fill: #efeee9;
}

.triangle-fill-beige {
  fill: #eeebdf;
}

.user__photo img {
  border-radius: 50%;
}

.user__name {
  font-size: 35px;
  font-weight: 500;
  margin-top: 25px;
}

.user__desc {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin-top: 10px;
}

.user-about__text p:last-child {
  margin-top: 25px;
}