extends ../main-layout

block title
  | Hello

block content
  .auth-container
    .hero__bg
      .parallax-mount
        .parallax-mount__layer
          img(src="./img/parallax-mount/Layer9.jpg" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/Layer8-1.png" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/Layer7-1.png" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/Layer6-1.png" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/6cloud_PNG4.png" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/Layer4-1.png" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/3sky.png" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/Layer2-1.png" class="parallax-mount__image")
        .parallax-mount__layer
          img(src="./img/parallax-mount/Layer1-1.png" class="parallax-mount__image")

    .auth
      .auth__info
        .user
          .user__photo
            img(src="img/my.jpg", alt="").user__avatar
          .user__name Yuriy Bochkarev
          .user__title My Site Portfolio
          .auth__socals
            each icon in ['github', 'upwork_round']
              a.auth__socals--link
                +image-svg('auth__socials--image auth__socials--' + icon,icon,"0 0 30 30")
      .auth__btns
        a(href="works.html").auth__btn My last Works
        a(href="about.html").auth__btn About Me
        button.auth__btn.change__btn Change Theme
    .auth__login
      button.auth__login--link  Authorizations