.change__theme
  .change__title Change Theme
  .change__container
    .change__theme-item(data-theme="mountains")
      button.change__button
        img(src="./img/button-mount.jpg").change__image
      span Mountains
    .change__theme-item(data-theme="desert")
      button.change__button
        img(src="./img/button-sand.jpg").change__image
      span Desert
    .change__theme-item(data-theme="night")
      button.change__button
        img(src="./img/button-night.jpg").change__image
      span Night