footer.footer
  .footer__menu
    ul.nav-menu
      - var menuItem = ["Welcome Page","About Me","My Last Works"]
      - var menuLink = ["index", "about" , "works"]
      - for (var i = 0; i < menuItem.length; i++)
        li.nav-menu__item
          a(href=`${menuLink[i]}.html`).nav-menu__link= menuItem[i]
  .footer__socials
    ul.socials__list
      each item in ['github', 'upwork']
        li.socials__item
          a(href="#").socials__link
            +image-svg("socials__image socials__image--" + item,item + '_round')