section.section.hero
  .hero__bg
    include parallax

  ul.socials
    each item in ['github','upwork']
      li.socials__item
        a(href="#").socials__link
          +image-svg("socials__image socials__image--" + item,item)

  .hamburger(tabindex="1")
    button.hamburger__button
  ul.menu-header__list
    - var menuItem = ["Welcome Page","About Me","My Last Works"]
    - var menuLink = ["index", "about" , "works"]
    - for (var i = 0; i < menuItem.length; i++)
      li.menu-header__item
        a(href=`./${menuLink[i]}.html`).menu-header__link= menuItem[i]
  a(href="").down-arrow
    +image-svg("down-arrow--image","arrow_down","0 0 25.18 16.164")

  .hero__title
    +image-svg("hero__title--image","portfolio_header","0 0 1175.495 313.961")
    .user.hero__user-block
      .user__photo
        img(src="./img/my.jpg")
      .user__name Yuriy Bochkarev
      .user__desc My Portfolio