include mixins/mixins

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/style.min.css" type="text/css")
    script(src="./js/svg.js")
    script(src="./js/activeTheme.js")
    link(rel="preload" href="./fonts/Roboto-Bold.woff2" type="font/woff2" as="font" crossorigin)
    link(rel="preload" href="./fonts/Roboto-Regular.woff2" type="font/woff2" as="font" crossorigin)
    title
      block title
  body.mountains
    .svg-placeholder
    script document.querySelector('.svg-placeholder').innerHTML = SVG_SPRITE
    .wrapper
      block content
    include ./sections/preloader
    //script(src="./libs/jQuery/dist/jquery.min.js")
    script(src="./js/scripts.min.js")