@include reset;

html, body{
  height: 100%;
}

html{
  font-size: 16px;
  @include laptop(font-size,15px);
  @include tablet(font-size,14px);
  @include phone(font-size,13px);
}

body{
  font-family: $font-default;
  color: $color-default;
  line-height: 1.42;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100vh;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

section {
	position: relative;
}

.visually-hidden:not(:focus):not(:active),
.svg-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  //display: block;
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  box-sizing: inherit;
}