$columns: 12;
$atom: (100% / $columns);

$break_laptop: 1200px;
$break_tablet: 768px;
$break_phone: 480px;

$offset: 30px;
$offset_laptop: $offset;
$offset_tablet: $offset;
$offset_phone: $offset;

$offset_one_side: ($offset / 2);
$offset_laptop_one_side: ($offset_laptop / 2);
$offset_tablet_one_side: ($offset_tablet / 2);
$offset_phone_one_side: ($offset_phone / 2);

$fields: 30px;

@mixin wrapper-full(){
  padding-left: $fields;
  padding-right: $fields;
}

@mixin row-offsets(){
  margin-left: ($offset_one_side * -1);
  margin-right: ($offset_one_side * -1);
}

@mixin col-offsets($type){
  #{$type}-left: $offset_one_side;
  #{$type}-right: $offset_one_side;
}

@mixin wrapper(){
  max-width: 1200px;
  margin: 0 auto;
  @include wrapper-full();
}

@mixin row-flex(){
  display: flex;
  flex-wrap: wrap;
  @include row-offsets();
}

@mixin row-float(){
  @include row-offsets();
  @include clearfix();
}

@mixin row-ib(){
  @include row-offsets();
}

@mixin col(){
  box-sizing: border-box;
  word-wrap: break-word;
  @include col-offsets(margin);
}

@mixin col-float(){
  float: left;
}

@mixin col-ib(){
  display: inline-block;
  vertical-align: top;
}

@mixin col-padding(){
  word-wrap: break-word;
  @include col-offsets(padding);
}

@mixin size($n){
  $val: 100% / $columns * $n;
  width: #{calc(#{$val} - #{$offset})};
}

@mixin size-laptop($n){
  $val: 100% / $columns * $n;
  @include laptop(width, #{calc(#{$val} - #{$offset_laptop})});
}

@mixin size-tablet($n){
  $val: 100% / $columns * $n;
  @include tablet(width, #{calc(#{$val} - #{$offset_tablet})});
}

@mixin size-phone($n){
  $val: 100% / $columns * $n;
  @include phone(width, #{calc(#{$val} - #{$offset_phone})});
}

@mixin shift($n){
  $val: 100% / $columns * $n;
  margin-left: #{calc(#{$val} + #{$offset_one_side})};
  margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-left($n){
  $val: 100% / $columns * $n;
  margin-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-right($n){
  $val: 100% / $columns * $n;
  margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding($n){
  $val: 100% / $columns * $n;
  padding-left: #{calc(#{$val} + #{$offset_one_side})};
  padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-left($n){
  $val: 100% / $columns * $n;
  padding-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-right($n){
  $val: 100% / $columns * $n;
  padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-laptop($n){
  $val: 100% / $columns * $n;
  @include laptop(margin-left, #{calc(#{$val} + #{$offset_laptop_one_side})});
  @include laptop(margin-right, #{calc(#{$val} + #{$offset_laptop_one_side})});
}

@mixin shift-laptop-left($n){
  $val: 100% / $columns * $n;
  @include laptop(margin-left, #{calc(#{$val} + #{$offset_laptop_one_side})});
}

@mixin shift-laptop-right($n){
  $val: 100% / $columns * $n;
  @include laptop(margin-right, #{calc(#{$val} + #{$offset_laptop_one_side})});
}

@mixin shift-laptop-padding($n){
  $val: 100% / $columns * $n;
  @include laptop(padding-left, #{calc(#{$val} + #{$offset_laptop_one_side})});
  @include laptop(padding-right, #{calc(#{$val} + #{$offset_laptop_one_side})});
}

@mixin shift-laptop-padding-left($n){
  $val: 100% / $columns * $n;
  @include laptop(padding-left, #{calc(#{$val} + #{$offset_laptop_one_side})});
}

@mixin shift-laptop-padding-right($n){
  $val: 100% / $columns * $n;
  @include laptop(padding-right, #{calc(#{$val} + #{$offset_laptop_one_side})});
}

@mixin shift-tablet($n){
  $val: 100% / $columns * $n;
  @include tablet(margin-left, #{calc(#{$val} + #{$offset_tablet_one_side})});
  @include tablet(margin-right, #{calc(#{$val} + #{$offset_tablet_one_side})});
}

@mixin shift-tablet-left($n){
  $val: 100% / $columns * $n;
  @include tablet(margin-left, #{calc(#{$val} + #{$offset_tablet_one_side})});
}

@mixin shift-tablet-right($n){
  $val: 100% / $columns * $n;
  @include tablet(margin-right, #{calc(#{$val} + #{$offset_tablet_one_side})});
}

@mixin shift-tablet-padding($n){
  $val: 100% / $columns * $n;
  @include tablet(padding-left, #{calc(#{$val} + #{$offset_tablet_one_side})});
  @include tablet(padding-right, #{calc(#{$val} + #{$offset_tablet_one_side})});
}

@mixin shift-tablet-padding-left($n){
  $val: 100% / $columns * $n;
  @include tablet(padding-left, #{calc(#{$val} + #{$offset_tablet_one_side})});
}

@mixin shift-tablet-padding-right($n){
  $val: 100% / $columns * $n;
  @include tablet(padding-right, #{calc(#{$val} + #{$offset_tablet_one_side})});
}

@mixin shift-phone($n){
  $val: 100% / $columns * $n;
  @include phone(margin-left, #{calc(#{$val} + #{$offset_phone_one_side})});
  @include phone(margin-right, #{calc(#{$val} + #{$offset_phone_one_side})});
}

@mixin shift-phone-left($n){
  $val: 100% / $columns * $n;
  @include phone(margin-left, #{calc(#{$val} + #{$offset_phone_one_side})});
}

@mixin shift-phone-right($n){
  $val: 100% / $columns * $n;
  @include phone(margin-right, #{calc(#{$val} + #{$offset_phone_one_side})});
}

@mixin shift-phone-padding($n){
  $val: 100% / $columns * $n;
  @include phone(padding-left, #{calc(#{$val} + #{$offset_phone_one_side})});
  @include phone(padding-right, #{calc(#{$val} + #{$offset_phone_one_side})});
}

@mixin shift-phone-padding-left($n){
  $val: 100% / $columns * $n;
  @include phone(padding-left, #{calc(#{$val} + #{$offset_phone_one_side})});
}

@mixin shift-phone-padding-right($n){
  $val: 100% / $columns * $n;
  @include phone(padding-right, #{calc(#{$val} + #{$offset_phone_one_side})});
}

@mixin laptop($name, $value){
  @media screen and (max-width: $break_laptop){
    #{$name}: $value;
  }
}

@mixin laptop-block(){
  @media screen and (max-width: $break_laptop){
    @content;
  }
}

@mixin tablet($name, $value){
  @media screen and (max-width: $break_tablet){
    #{$name}: $value;
  }
}

@mixin tablet-block(){
  @media screen and (max-width: $break_tablet){
    @content;
  }
}

@mixin phone($name, $value){
  @media screen and (max-width: $break_phone){
    #{$name}: $value;
  }
}

@mixin phone-block(){
  @media screen and (max-width: $break_phone){
    @content;
  }
}

@mixin from($min_width){
  @media screen and (min-width: $min_width){
    @content;
  }
}

@mixin to($max_width){
  @media screen and (max-width: $max_width){
    @content;
  }
}

@mixin from-to($min_width, $max_width){
  @media screen and (min-width: $min_width) and (max-width: $max_width){
    @content;
  }
}

@mixin u-row-flex($offset){
  display: flex;
  flex-wrap: wrap;
  margin-left: ($offset / -2);
  margin-right: ($offset / -2);
}

@mixin u-col($offset){
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: ($offset / 2);
  margin-right: ($offset / 2);
}

@mixin u-size($n, $columns, $offset){
  width: #{calc(100% / #{$columns} * #{$n} - #{$offset})};
}

@mixin reset(){
  body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
  }
  fieldset,img,abbr{
    border: 0;
  }
  address,caption,cite,code,dfn,em,strong,th,var{
    font-style: normal;
    font-weight: normal;
  }
  ul li{
    list-style: none;
  }
  caption,th{
    text-align: left;
  }
  h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
  }
  sup{
    vertical-align: text-top;
  }
  sub{
    vertical-align: text-bottom;
  }
  input,textarea,select{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  legend{
    color: #000;
  }
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
    display: block;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}

@mixin debug($background, $outline){
  height: 100vh;
  position: fixed;
  width: 100%;
  
  > div{
    height: inherit;
    @include wrapper();
    
    > div{
      height: inherit;
      @include row-flex();
      
      > div{
        @include col();
        @include size(1);
        height: inherit;
        outline: $outline;
        background: $background;
      }
    }
  }
}

@mixin clearfix(){
  &::after{
    display: block;
    content: "";
    clear: both;
  }
}