.about{
  display: flex;
  @include tablet-block{
    flex-wrap: wrap;
  }
}

.about__left,
.about__right{
  flex: 1 1 50%;
  padding-bottom: 150px;
  @include tablet-block{
    flex-basis: 100%;
    padding-bottom: 50px;
  }
}

.about__left{
  background: $mount-white;
};

.about__right{
  background: $mount-beige;
}

.about__triangle,
.works-head__triangle{
  position: absolute;
  bottom: 100%;
}

.about__section--image{
  position: absolute;
  left: 40px;
  top: 0;
  fill: #6E7171;
  opacity: 0.07;
  width: 357px;
  height: 125px;
  @include laptop(left,20px);
}

.about__section--wrapper{
  text-align: center;
  padding: 0 30px;
  @include phone(padding, 0 15px);
}

.user-about__text{
  text-align: left;
}

.about-user-info__title{
  text-align: center;
}

.about-user-info__text{
  padding: 0 30px;
  @include phone(padding, 0 15px)
}

.about-data__content{
  margin-top: 50px;
  padding: 0 30px;
  @include phone(padding, 0 15px)
}