.about{
  display: flex;
}

.about__left,
.about__right{
  flex: 1 1 50%;
  padding-bottom: 150px;
}

.about__left{
  background: $mount-white;
};

.about__right{
  background: $mount-beige;
}

.about__triangle,
.works-head__triangle{
  position: absolute;
  bottom: 100%;
}

.about__section--image{
  position: absolute;
  left: 40px;
  top: 0;
  fill: #6E7171;
  opacity: 0.07;
}

.about__section--wrapper{
  text-align: center;
  padding: 0 10%;
}

.user-about__text{
  text-align: left;
}

.about-user-info__title{
  text-align: center;
}

.about-user-info__text{
  padding-left: 40px;
}

.about-data__content{
  margin-top: 50px;
  padding: 0 10%;
}