.auth-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.auth {
  @include centered();
  overflow: hidden;
  border-radius: 10px;
  width: 380px;
  .user {
    text-align: center;
    position: static;
    transform: initial;
    .user__name {
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
    }
    .user__title{
      line-height: 24px;
    }
  }
}

.auth__info {
  padding: 40px 70px;
  background: rgba(#fcfcfc, .85);
}

.auth__btns {
  display: flex;
}

.user__photo {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  .user__avatar {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.auth__btn {
  background-color: #00bfa5;
  font-size: 13px;
  color: #fff;
  padding: 17px;
  display: block;
  text-align: center;
  text-decoration: none;
  flex: 1;
  border: 1px solid #6fd1c6;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #009688;
  }

  &:last-child {
    border-right: none;
  }
}

.auth__login{
  width: 180px;
  position: absolute;
  top: 30px;
  right: 30px;
  @include phone-block{
    top: 15px;
    @include centered(x);
  }
}

.auth__login--link{
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  line-height: 36.12px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    background-color: #ffffff;
    color: #00bfa5;
  }
}

.auth__socals{
  margin-top: 15px;
}

.auth__socals--link{
  display: inline-block;
  margin: 0 10px;
}

.auth__socials--image{
  display: block;
  fill: rgba(#00bfa5,.5);
  transition: all .3s ease-in-out;
  cursor: pointer;
  width: 30px;
  height: 30px;
  &:hover{
    fill: rgba(#00bfa5,1);
  }
}

.auth__socials--upwork{
  padding-top: 3px;
}