.mountains{
  .hero__bg{
    top: 0;
    right: 0;
    bottom: 0;
  }
  .parallax-mount{
    display: block;
  }
}

.hero{
  min-height: 650px;
  overflow: hidden;
  color: #ffffff;
  height: 100vh;
}

.hero__bg{
  position: absolute;
  left: 0;
}

.parallax-mount{
  display: none;
}

.desert{
  .hero__bg{
    height: 100%;
    width: 6112px;
    background: url("../img/bg/sand.jpg") center left repeat-x;
    animation: bg 120s linear infinite;
  }
}

@keyframes bg {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-3056px);
  }
}

.hero__title{
  text-align: center;
  width: 100%;
  padding: 0 30px;
}

.hero__title--image{
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -160px;
}


.hero__user-block{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -130px;
}

.hero__bg--image{
  max-width: 100%;
  @include laptop(max-width,150%);
  @include tablet(max-width,180%);
  @include phone(max-width,250%);
}