.hero{
  height: 600px;
  overflow: hidden;
  color: #ffffff;
}

.hero__title{
  @include centered('y');
  text-align: center;
  width: 100%;
  padding: 0 5%;
}

.hero__user-block{
  @include centered();
}

.hero__bg--image{
  max-width: none;
}