.nav-menu__item{
  display: inline-block;
  padding: 25px 25px 25px 0;
}

.nav-menu__link{
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
  &:hover{
    color: #00bfa5;
  }
}