.wrapper-parallax {
  overflow: hidden;
  background-color: #fedcc8;
  width: 100%;
  height: 100%;
  position: relative;
}

.parallax{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__layer{
  height: 100%;
  position: absolute;
  width: 3000px;
  left: 50%;
  margin-left: -1500px;
}

.parallax__image{
  position: absolute;
  bottom: 0;
}

.parallax-mount{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-mount__layer{
  height: 100%;
  position: absolute;
  width: 110%;
  left: 50%;
  margin-left: -55%;
}

.parallax-mount__image{
  height: auto ;
  width: 100%;
  position: absolute;
  bottom: 0;
}