.wrapper-parallax {
  overflow: hidden;
  background-color: #fedcc8;
  width: 100%;
  height: 100%;
  position: relative;
}

.parallax{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__layer{
  height: 100%;
  position: absolute;
  width: 3000px;
  left: 50%;
  margin-left: -1500px;
}

.parallax__image{
  position: absolute;
  bottom: 0;
}

.parallax-mount{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.parallax-mount__layer{
  height: 100%;
  position: absolute;
  width: 120%;
  left: 50%;
  margin-left: -60%;
  @include laptop-block{
       width: 130%;
       margin-left: -75%;
     }
  @include tablet-block{
    width: 250%;
    margin-left: -125%;
  }
  @include phone-block{
    width: 330%;
    margin-left: -175%;
  }
}

.parallax-mount__image{
  width: 100%;
  position: absolute;
  bottom: 0;
}