.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(#009688,.9);
}

.preloader__spinner{
  width: 150px;
  height: 150px;
  @include centered();
}
.preloader__animation{
  width: 150px;
  height: 150px;
  position: relative;
  animation: spin 2s linear infinite;
  &,
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
  }
  &:before{
    $margin: 13px;
    top: $margin;
    left: $margin;
    right: $margin;
    bottom: $margin;
    animation: spin 1.5s linear infinite;
  }
  &:after{
    $margin: 5px;
    top: $margin;
    left: $margin;
    right: $margin;
    bottom: $margin;
    animation: spin 3s linear infinite;
  }
}
.preloader__percents{
  @include centered();
  color: #fff;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
  }
}