.skills{
  @include tablet-block{
    text-align: center;
  }
}

button{
  cursor: pointer;
}

.skill-section__title{
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.skills__item{
  margin-bottom: 30px;
}

.skill-section__list{
  display: flex;
  @include laptop(flex-wrap,wrap);
  @include tablet(justify-content,center);
}

.skill{
  position: relative;
  margin: 20px 0 0 20px;
}

.skill__name{
  font-size: 13px;
  font-weight: 500;
  @include centered()
}

.mountains{
  .skill__name{
    color: #00bfa5;
  }
}

.skill__circle{
  width: 100px;
  height: 100px;
  display: block;
  fill: transparent;
  stroke-width: 15px;
}

.skills__circle-under{
  stroke: #dfdcd5;
}

.skills__circle-above{
  transform: rotate(-90deg);
  transform-origin: 50px 50px;
  transition: all 1s linear;
  stroke-dasharray: 0, 251.32;
  @include laptop(transform-origin,53px 53px);
  @include tablet(transform-origin,57px 57px);
  @include phone(transform-origin,61px 61px);
}

.mountains {
  .skills__circle-above{
    stroke: #10c1a8;
  }
}

.desert {
  .skills__circle-above{
    stroke: #e7a731;
  }
}

.skill__circle--HTML5{
  @include dash(95);
}
.skill__circle--CSS3{
  @include dash(95);
}
.skill__circle--JavaScript{
  @include dash(60);
}
.skill__circle--PHP{
  @include dash(33);
}
.skill__circle--mySQL{
  @include dash(5);
}
[class*='skill__circle--Node']{
  @include dash(35);
}
[class*='skill__circle--Mongo']{
  @include dash(0);
}
.skill__circle--Git{
  @include dash(75);
}

.skill__circle--Gulp{
  @include dash(80);
}

.skill__circle--Bower{
  @include dash(50);
}


