.skills{
  @include tablet-block{
    text-align: center;
  }
}

.skill-section__title{
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.skills__item{
  margin-bottom: 30px;
}

.skill-section__list{
  display: flex;
  @include laptop(flex-wrap,wrap);
  @include tablet(justify-content,center);
}

.skill{
  position: relative;
  margin: 20px 0 0 20px;
}

.skill__name{
  font-size: 13px;
  font-weight: 500;
  @include centered()
}

.mountains{
  .skill__name{
    color: #00bfa5;
  }
}

.skill__circle{
  width: 100px;
  height: 100px;
  display: block;
  fill: transparent;
  stroke-width: 15px;
}

.skills__circle-under{
  stroke: #dfdcd5;
}

.mountains {
  .skills__circle-above{
    stroke: #10c1a8;
  }
}