.slider {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}

.slider__desc {
  flex-basis: 100%;
  display: flex;
}

.slider__display{
  flex-grow: 4;
}

.slider__buttons {
  min-height: 100px;
  display: flex;
  flex-grow: 1;
}

.slider__btn{
  min-height: 100%;
  flex: 1;
  &--prev{
    background: url("../img/down.jpg") center center no-repeat;
    background-size: cover;
  }
  &--next{
    background: url("../img/up.jpg") center center no-repeat;
    background-size: cover;
  }
}

.slider__desc--title {
  margin-bottom: 20px;
}

.slider__desc--skills {
  padding: 20px 0;
  border-top: 1px solid  #009688;
  border-bottom: 1px solid #009688;
  color: #20b5a1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 40px;
}

.slider__desc--btn {
  text-align: center;
  margin-bottom: 10px;
}

.slider__display--picture {
  max-width: 100%;
  display: block;
  max-height: 100%;
}

.slider__desc--info {
  margin: auto;
}