.triangle{
  height: 100px;
  width: 50%;
  &-fill-white{
    fill: $mount-white;
  }
  &-fill-beige{
    fill: $mount-beige;
    @include tablet(fill,$mount-white);
  }
}

.about__left{
  .triangle{
    left: 0;
  }
}

.about__right{
  .triangle{
    right: 0;
  }
}